/*** 

====================================================================
    Features Section
====================================================================

***/
.features-section {
    position: relative;
    padding: 120px 0 70px;
    font-family: 'Poppins';
    overflow-x: hidden;
}

.features-section .image-column {
    position: relative;
    margin-bottom: 50px;
}

.features-section .image-column .inner-column {
    margin-right: -375px;
}

.features-section .image-column .image {
    margin-bottom: 0;
}

.features-section .bg {
    right: 360px;
    width: auto;
}

.feature-block {
    position: relative;
    margin-bottom: 10px;
    z-index: 1;
}

.feature-block:last-child .content {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

.feature-block .inner-box {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding-left: 90px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.feature-block .inner-box:hover .icon {
    background-color: #ffffff;
    color: var(--theme-color2);
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.feature-block .content {
    padding-bottom: 35px;
    border-bottom: 1px solid #dcdcdd;
    margin-bottom: 15px;
}

.feature-block .icon {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    top: 5px;
    height: 58px;
    width: 58px;
    font-size: 20px;
    background-color: var(--theme-color2);
    color: #ffffff;
    border-radius: 50px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.feature-block .title {
    display: block;
    color: var(--theme-color1);
    font-weight: 800;
    margin-bottom: 18px;
}

.feature-block .title a {
    color: var(--theme-color1);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.feature-block .title a:hover {
    color: var(--theme-color1);
}

.feature-block .text {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
}