.featured-1 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding: 5% 0%;
    align-items: center;
}

.main-img img {
    max-width: 100%;
    width: 560px;
    height: auto;
}

.featured-content h4 {
    color: orange;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.featured-content h1 {
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 30px;
}

.featured-content hr {
    width: 30%;
    border: none;
    height: 2px;
    background-color: orange;
    margin-bottom: 50px;
}

.featured-content p {
    max-width: 600px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 22px;
}

.featured-analytics {
    display: flex;
}

.analytics-content-1 {
    margin-right: 60px;
}

.featured-analytics h3 {
    color: orange;
    font-size: 60px;
    font-weight: 700;
}

.featured-analytics h5 {
    color: grey;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
}

@media(max-width:1385px) {
    section {
        transition: 0.3s;
        padding: 4%;
    }

    .main-img img {
        width: 500px;
        height: auto;
        transition: .3s;
    }
}

@media(max-width: 1240px) {
    .featured-content h1 {
        font-size: 30px;
        transition: .3s;

    }
}

@media(max-width: 1040px) {
    .featured-1 {
        grid-template-columns: 1fr;
        height: 100%;
    }

    .main-img img {
        padding: 40px;
    }
}