/* ******************* */

.why-choose-us-two {
  position: relative;
  padding: 120px 0 70px;
}

.why-choose-us-two::before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/shape.png);
  content: "";
}

.why-choose-us-two .sec-title {
  margin-bottom: 50px;
}

.why-choose-us-two .sec-title .text {
  max-width: 505px;
  margin-top: 20px;
}

.why-choose-us-two .content-column {
  position: relative;
  margin-bottom: 40px;
  z-index: 1;
}

.why-choose-us-two .content-column .inner-column {
  position: relative;
  padding-left: 70px;
}

.why-choose-us-two .image-column {
  position: relative;
  margin-bottom: 35px;
}

.why-choose-us-two .image-column .inner-column {
  position: relative;
  margin-right: -10px;
}

.why-choose-us-two .image-column .image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why-choose-us-two .image-column .image-box .image-1 {
  position: relative;
  margin-right: 20px;
  margin-bottom: 0;
}

.why-choose-us-two .image-column .image-box .image-1::before {
  position: absolute;
  top: -10px;
  left: -10px;
  height: 100%;
  width: 150px;
  background-color: var(--bg-theme-color2);
  content: "";
  z-index: -1;
  border-radius: 10px;
}

.why-choose-us-two .image-column .image-box .image-1 img {
  border-radius: 10px;
}

.why-choose-us-two .image-column .image-box .image-2 {
  position: relative;
  margin-bottom: 0px;
}

.why-choose-us-two .image-column .image-box .image-2::before {
  position: absolute;
  bottom: -10px;
  right: -10px;
  height: 100%;
  width: 150px;
  background-color: var(--bg-theme-color2);
  content: "";
  z-index: -1;
  border-radius: 10px;
}

.why-choose-us-two .image-column .image-box .image-2 img {
  border-radius: 10px;
}

.why-choose-us-two .image-column .image-box .logo {
  position: absolute;
  left: 204px;
  top: 185px;
}

.feature-block-six {
  position: relative;
  padding-bottom: 50px;
  border-bottom: 1px solid #dcdce0;
  margin-bottom: 50px;
}

.feature-block-six:last-child {
  margin-bottom: 0;
}

.feature-block-six .inner-box {
  position: relative;
  padding-left: 120px;
}

.feature-block-six .inner-box:hover .icon {
  color: var(--theme-color1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.feature-block-six .inner-box:hover .icon:after {
  right: 20px;
}

.feature-block-six .icon {
  position: absolute;
  left: 0;
  top: 20px;
  font-size: 64px;
  line-height: 1em;
  color: var(--theme-color2);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.feature-block-six .icon:after {
  position: absolute;
  left: 40px;
  top: 20px;
  height: 44px;
  width: 44px;
  background-color: var(--bg-theme-color3);
  content: "";
  z-index: -1;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.feature-block-six .title {
  font-weight: 800;
  margin-bottom: 10px;
  letter-spacing: 0.01em;
}

.feature-block-six .text {
  color: #6a6a6a;
}


.feature {
  flex: 1;
  max-width: 300px;
  margin: 0 20px;
  text-align: center;
}

.feature-icon {
  font-size: 48px;
  color: #007bff;
  /* Adjust color as needed */
  margin-bottom: 20px;
}

.feature-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}


/* ************************* */

.services-section-three {
  position: relative;
  /* padding: 120px 0 70px; */
  z-index: 1;
  counter-reset: count;
}

.service-block-three {
  position: relative;
  margin-bottom: 70px;
  z-index: 1;
}

.service-block-three .inner-box {
  position: relative;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.service-block-three .inner-box .text {
  /* min-height: 9em; */
}


.service-block-three .inner-box:hover {
  background-color: var(--bg-theme-color2);
}

.service-block-three .inner-box:hover .text,
.service-block-three .inner-box:hover .title,
.service-block-three .inner-box:hover .icon {
  color: #ffffff;
}

.service-block-three .inner-box:hover .icon-box:before {
  color: #6686ff;
}

.service-block-three .inner-box:hover .read-more i {
  color: #ffffff;
  background-color: #200044;
}

.service-block-three .content {
  position: relative;
  padding: 9px 32px 52px;
  overflow: hidden;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
}

.service-block-three .content::before {
  position: absolute;
  right: -60px;
  top: -100px;
  height: 230px;
  width: 230px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.08;
  content: "";
}

.service-block-three .content::after {
  position: absolute;
  left: -60px;
  top: -100px;
  height: 230px;
  width: 230px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.08;
  content: "";
}

.service-block-three .icon-box {
  position: relative;
  margin-bottom: 25px;
}

.service-block-three .icon-box:before {
  position: absolute;
  right: -10px;
  top: 20px;
  font-size: 62px;
  color: #edf0f5;
  counter-increment: count;
  content: "0" counter(count);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: 'Poppins';
}

.service-block-three .icon-box .icon {
  display: inline-block;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: var(--theme-color2);
  font-size: 64px;
}

.service-block-three .title {
  font-weight: 800;
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: 'Poppins';
}

.service-block-three .title:hover {
  color: var(--theme-color2);
}

.service-block-three .text {
  position: relative;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  margin-bottom: 0px;
  font-weight: 300;
  font-size: 16px;
}

.service-block-three .read-more {
  position: absolute;
  left: 35px;
  bottom: -32px;
}

.service-block-three .read-more i {
  background-color: #ffffff;
  height: 64px;
  width: 64px;
  font-size: 18px;
  color: var(--theme-color1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}


/* *********************** */

.news-section {
  position: relative;
  padding: 120px 0 90px;
  overflow: hidden;
  background-color: #fff;
}

.news-section .bg {
  max-height: 485px;
}

.news-block {
  position: relative;
  margin-bottom: 30px;
}

.news-block .inner-box {
  position: relative;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.news-block .inner-box:hover .image-box .image a:after {
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.news-block .inner-box:hover .image-box img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.news-block .inner-box:hover .content-box {
  -webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
}

.news-block .image-box {
  position: relative;
}

.news-block .image-box .image {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  margin-bottom: 0;
}

.news-block .image-box .image img {
  display: block;
  width: 100%;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.news-block .image-box .image a:after {
  background: rgba(255, 255, 255, 0.3);
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  right: 51%;
  top: 0;
  opacity: 1;
  pointer-events: none;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.news-block .content-box {
  position: relative;
  margin-top: -65px;
  margin-left: 30px;
  padding: 30px 40px 35px;
  background-color: #fff;
  border-radius: 10px 0 10px 10px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.news-block .content-box .date {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: var(--theme-color2);
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  padding: 5px 20px;
  font-weight: 700;
  border-radius: 10px;
  margin-right: 10px;
  z-index: 1;
}

.news-block .content-box .post-info {
  position: relative;
  font-size: 14px;
  color: #6a6a6a;
}

.news-block .content-box .post-info i {
  color: var(--theme-color2);
  margin-right: 5px;
}

.news-block .content-box .title {
  margin-top: 15px;
  margin-bottom: 7px;
  font-weight: 800;
}

.news-block .content-box .title:hover {
  color: var(--theme-color2);
}

.news-block .content-box .text {
  margin-bottom: 15px;
}

.news-block .content-box .read-more {
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 25px;
  color: #0f0f0f;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}

.news-block .content-box .read-more i {
  margin-right: 10px;
  font-size: 16px;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}

.news-block .content-box .read-more:hover {
  color: var(--theme-color2);
  -webkit-transform: translateX(-25px);
  transform: translateX(-25px);
}

.news-block .content-box .read-more:hover i {
  opacity: 0;
  -webkit-transform: translateX(15px);
  transform: translateX(15px);
}

/*** 

====================================================================
    News Section Two
====================================================================

***/
.news-section-two {
  position: relative;
  padding: 120px 0 90px;
  overflow: hidden;
}

.news-section-two .icon-object-1 {
  right: -300px;
  top: 0;
}

.news-section-two .icon-shape-4 {
  left: -330px;
  bottom: 80px;
}

.news-block-two {
  position: relative;
  margin-bottom: 30px;
}

.news-block-two .inner-box {
  position: relative;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, 0.07);
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.07);
}

.news-block-two .inner-box:hover .image-box .image a:after {
  height: 40%;
}

.news-block-two .inner-box:hover .image img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.news-block-two .inner-box:hover .date {
  color: var(--theme-color2);
}

.news-block-two .inner-box:hover .date:before {
  background-color: #fff;
}

.news-block-two .image-box {
  position: relative;
}

.news-block-two .image-box .image {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
}

.news-block-two .image-box .image img {
  display: block;
  width: 100%;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.news-block-two .image-box .image a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--bg-theme-color1)));
  background: linear-gradient(transparent, var(--bg-theme-color1));
  pointer-events: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.news-block-two .image-box .date {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  width: 106px;
  height: 77px;
  padding-top: 15px;
  padding-left: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.news-block-two .image-box .date b {
  color: inherit;
  font-weight: 500;
}

.news-block-two .image-box .date:before {
  position: absolute;
  left: 0px;
  bottom: 0;
  height: 170px;
  width: 170px;
  background-color: var(--bg-theme-color2);
  border-radius: 50%;
  content: "";
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: -1;
}

.news-block-two .content-box {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 25px 40px 40px;
  border-bottom: 0;
}

.news-block-two .content-box .post-info {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.news-block-two .content-box .post-info li {
  position: relative;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
  font-weight: 400;
  margin-right: 14px;
}

.news-block-two .content-box .post-info li i {
  margin-right: 2px;
  color: var(--theme-color2);
  font-size: 14px;
}

.news-block-two .content-box .title {
  margin-bottom: 0;
  color: #fff;
}

.news-block-two .content-box .title:hover {
  color: var(--theme-color2);
}


/* ********************** */

.bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-pattern-1 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/pattern-1.png);
}

.bg-pattern-2 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/pattern-2.jpg);
}

.bg-pattern-3 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/pattern-3.jpg);
}

.bg-pattern-4 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/pattern-4.jpg);
}

.bg-pattern-5 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/pattern-5.jpg);
}

.bg-pattern-6 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/pattern-6.jpg);
}

.bg-pattern-7 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/pattern-7.jpg);
}

.bg-pattern-8 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/pattern-8.jpg);
}

.bg-pattern-9 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/bg/bg2.jpg);
}

.bg-pattern-10 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/pattern-10.jpg);
}

.bg-pattern-11 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/pattern-11.jpg);
}

.bg-pattern-12 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/pattern-12.jpg);
}

.bg-pattern-13 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/pattern-13.jpg);
}

.bg-pattern-14 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/pattern-14.jpg);
}

.bg-pattern-15 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/pattern-15.jpg);
}

.bg-pattern-16 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/pattern-16.jpg);
}

.bg-pattern-17 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/pattern-17.jpg);
}

.bg-pattern-18 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/pattern-18.jpg);
}

.bg-pattern-19 {
  background-image: url(https://coretech-prod-s3.s3.ap-south-1.amazonaws.com/public/images/icons/pattern-19.jpg);
}


/* *****************************
 */

/*** 

====================================================================
    Video Section
====================================================================

***/
.video-section {
  position: relative;
  padding: 140px 0 185px;
  text-align: center;
  background-color: var(--bg-theme-color1);
}

.video-section .bg-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icons/pattern-6.jpg);
  content: "";
  max-height: 610px;
}

.video-section .play-now {
  position: relative;
  display: inline-block;
}

/*** 

====================================================================
    Video Section TWO
====================================================================

***/
.video-section-two {
  position: relative;
  z-index: 1;
}

.video-section-two .video-box-two {
  position: relative;
}

.video-section-two .video-box-two .image {
  position: relative;
  margin-bottom: 0;
}

.video-section-two .video-box-two .play-now {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.video-section-two .video-box-two .play-now .icon {
  background-color: #ffffff;
  color: var(--theme-color2);
}

.video-section-two .video-box-two .info-box {
  position: absolute;
  right: 30px;
  top: -30px;
  background-color: var(--bg-theme-color2);
  padding: 40px 50px;
  border-radius: 5px;
}

.video-section-two .video-box-two .info-box .title {
  font-size: 50px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 5px;
}

.video-section-two .video-box-two .info-box .text {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  line-height: 24px;
}

/*** 

====================================================================
    Video Section Three
====================================================================

***/
.video-section-three {
  position: relative;
  z-index: 1;
}

.video-section-three .video-box-three {
  position: relative;
}

.video-section-three .video-box-three .image {
  margin-bottom: 0;
}

.video-section-three .video-box-three .play-btn {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.video-section-three .video-box-three .play-btn .icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 122px;
  height: 120px;
  background-color: var(--bg-theme-color2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
}

/*** 

====================================================================
		Call To Action
====================================================================

***/
.call-to-action {
  position: relative;
  background-color: var(--bg-theme-color2);
  z-index: 2;
  padding: 90px 0;
}

.call-to-action .outer-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.call-to-action .title {
  color: #fff;
  margin-bottom: 0;
}

.call-to-action .info-btn {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px 40px;
  line-height: 24px;
  font-size: 18px;
  color: #fff;
  margin-left: 30px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.call-to-action .info-btn i {
  margin-right: 10px;
}

.call-to-action .info-btn:hover {
  background-color: #fff;
  color: var(--theme-color1);
}

/*** 

====================================================================
		Call To Action Two
====================================================================

***/
.call-to-action-two {
  position: relative;
  z-index: 2;
}

.call-to-action-two .outer-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #0e0d16;
  padding: 70px 100px;
}

.call-to-action-two .title {
  line-height: 24px;
  color: #fff;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 0;
}

.call-to-action-two .title .colored {
  color: #ff613c;
}

.call-to-action-two .info-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: right;
}

.call-to-action-two .info-box a {
  display: inline-block;
  color: #fff;
}

.call-to-action-two .info-box .num {
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
}

.call-to-action-two .info-box .mail {
  color: var(--theme-color2);
  font-weight: 700;
}

.call-to-action-two .icon-box {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.call-to-action-two .icon-box::before {
  position: absolute;
  left: 100%;
  top: 50%;
  width: 60px;
  margin-top: -1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: 20px;
  content: "";
}

.call-to-action-two .icon-box::after {
  position: absolute;
  right: 100%;
  top: 50%;
  width: 60px;
  margin-top: -1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 20px;
  content: "";
}

.call-to-action-two .icon-box .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: #ff613c;
  font-size: 42px;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.call-to-action-two .icon-box .icon:hover {
  background-color: var(--theme-color2);
}

/*** 

====================================================================
		Call To Action Three
====================================================================

***/
.call-to-action-three {
  position: relative;
  z-index: 2;
  padding: 120px 0 120px;
  background-color: var(--bg-theme-color2);
}

.call-to-action-three .title-column .inner-column {
  padding-top: 40px;
}

.call-to-action-three .sec-title {
  margin-bottom: 40px;
}

.call-to-action-three .sec-title .sub-title {
  color: #ffffff;
}

.call-to-action-three .sec-title .sub-title:before {
  color: #ffffff;
}

.call-to-action-three .info-column .inner-column {
  padding-left: 50px;
}

.call-to-action-three .info-list {
  position: relative;
}

.call-to-action-three .info-list li {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  padding: 30px 60px;
  padding-left: 90px;
  color: #fff;
  background-color: #ed2f2f;
  margin-bottom: 10px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.call-to-action-three .info-list li:before {
  position: absolute;
  left: 20px;
  top: 25px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  color: var(--theme-color1);
  content: "\f00c";
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
}

.call-to-action-three .info-list li:hover {
  background-color: #da2626;
}

/*** 

====================================================================
		Call To Action Four
====================================================================

***/
.call-to-action-four {
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 120px 0;
}

.call-to-action-four::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #181818;
  opacity: 0.5;
  content: "";
}

.call-to-action-four .content-box {
  position: relative;
  z-index: 1;
  text-align: center;
}

.call-to-action-four .sub-title {
  position: relative;
  display: block;
  font-size: 20px;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 10px;
}

.call-to-action-four .title {
  font-size: 56px;
  color: #ffffff;
  margin-bottom: 40px;
}


/***

====================================================================
    Contact Section
====================================================================

***/
.contact-section {
  position: relative;
  padding: 120px 0;
}

.contact-section:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 730px;
  width: 367px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/icons/dots-2.png);
  content: "";
}

.contact-section .image-column .inner-column {
  position: relative;
  padding-left: 70px;
  margin-right: -375px;
}

.contact-section .image-column .image {
  position: relative;
  margin-bottom: 0;
}

.contact-section .image-column .image:before {
  position: absolute;
  left: -20px;
  top: 60px;
  bottom: 0;
  width: 20px;
  background-color: var(--bg-theme-color2);
  border-radius: 10px 0 0 0;
  content: "";
}

.contact-section .image-column .image img {
  border-radius: 10px 0 0 0;
}

.contact-form {
  position: relative;
}

.contact-form .form-group {
  position: relative;
  margin-bottom: 20px;
}

.contact-form .form-group:last-child {
  margin-bottom: 0;
}

.contact-form .form-group label {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 500;
  display: block;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.contact-form .form-group label.error {
  display: block;
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
  line-height: 24px;
  color: #ff0000;
  margin-bottom: 0;
}

.contact-form .form-group .select2-container--default .select2-selection--single,
.contact-form .form-group input:not([type=submit]),
.contact-form .form-group textarea,
.contact-form .form-group select {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  padding: 15px 30px;
  line-height: 30px;
  font-size: 14px;
  color: #6a6a6a;
  font-weight: 400;
  background-color: #f3f3f3;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  margin-bottom: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.contact-form .form-group ::-webkit-input-placeholder {
  color: #6a6a6a;
}

.contact-form .form-group ::-moz-input-placeholder {
  color: #8c8f94;
}

.contact-form .form-group ::-ms-input-placeholder {
  color: #8c8f94;
}

.contact-form .form-group input:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus {
  border-color: var(--border-theme-color2);
}

.contact-form .form-group textarea {
  height: 150px;
  resize: none;
}

.contact-form .form-group input[type=submit],
.contact-form .form-group button {
  margin-top: 5px;
}

.contact-form.style-two .select2-container--default .select2-selection--single,
.contact-form.style-two input:not([type=submit]),
.contact-form.style-two textarea,
.contact-form.style-two select {
  background-color: #0a090f;
  border-color: #0a090f;
  color: #ffffff;
  height: 70px;
  padding: 20px 30px;
  line-height: 30px;
}

.contact-form.style-two input:focus,
.contact-form.style-two select:focus,
.contact-form.style-two textarea:focus {
  border-color: var(--border-theme-color2);
}

.contact-form.style-two textarea {
  height: 150px;
  resize: none;
}

/***

====================================================================
    Contact Section Two
====================================================================

***/
.contact-section-two {
  position: relative;
  padding: 120px 0;
  background-color: #161520;
}

.contact-section-two.pull-up {
  margin-top: -270px;
  padding-top: 390px;
}

.contact-section-two.pull-down {
  margin-bottom: -110px;
  padding-bottom: 180px;
}

.contact-section-two .sec-title .text {
  margin-top: 40px;
  max-width: 400px;
}

.contact-section-two .timing {
  position: relative;
}

.contact-section-two .timing .tilte {
  display: block;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 5px;
}

.contact-section-two .timing .time {
  font-size: 24px;
  color: #ff613c;
  font-weight: 400;
}